<% layout('layout/users') -%> 
<section class="container  mt-40">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading text-center">Password Reset Link successfully sent</h4>
        <p class="text-center">Check your email for the reset Password link</p>
        <hr>
        <p class="mb-0 text-center">If you didnt recieve any mail click the button below to request for the link again</p>
        <button class="btn btn-sm btn-success text-center"><a href="/reset">Request Link Again</a></button>
      </div>
</section>