<% layout('layout/users') -%> 
<div class="row mt-4">
    <div class="col-md-8 m-auto">
      <h3>My orders</h3>
      <div class="card m-3">
        <div class="card-body">
          <p class="card-text ">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                 Units
                <span class="badge badge-info badge-pill"></span>
              </li>
            </ul>
          </p>
        </div>
        <div class="card-footer">
          <strong>Total Price: $</strong>
        </div>
      </div>
        <h3 class="text-center" >You have not made any orders yet</h3>
    </div>
  </div>
</div>